In [60]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

,title,author,date,views,likes,link
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

In [5]:
data['month'] = pd.DatetimeIndex(data['date']).month

In [6]:
data['year'] = pd.DatetimeIndex(data['date']).year

In [7]:
data.head()

,title,author,date,views,likes,link,month,year
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...,12,2021
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...,2,2022
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...,9,2021
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...,10,2021
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...,10,2021

In [10]:
# baseado na quantidade de likes, qual o top 10 palestras do TED talks
top_10 = data.sort_values(by=['likes'], ascending = False).head(10)
top_10

,title,author,date,views,likes,link,month,year
5436,Do schools kill creativity?,Sir Ken Robinson,February 2006,72000000,2100000,https://ted.com/talks/sir_ken_robinson_do_scho...,2,2006
4084,Your body language may shape who you are,Amy Cuddy,June 2012,64000000,1900000,https://ted.com/talks/amy_cuddy_your_body_lang...,6,2012
2958,Inside the mind of a master procrastinator,Tim Urban,February 2016,60000000,1800000,https://ted.com/talks/tim_urban_inside_the_min...,2,2016
4605,The power of vulnerability,Brené Brown,June 2010,56000000,1700000,https://ted.com/talks/brene_brown_the_power_of...,6,2010
4765,How great leaders inspire action,Simon Sinek,September 2009,57000000,1700000,https://ted.com/talks/simon_sinek_how_great_le...,9,2009
3504,How to speak so that people want to listen,Julian Treasure,June 2013,49000000,1400000,https://ted.com/talks/julian_treasure_how_to_s...,6,2013
2168,My philosophy for a happy life,Sam Berns,October 2013,43000000,1300000,https://ted.com/talks/sam_berns_my_philosophy_...,10,2013
3251,The next outbreak? We're not ready,Bill Gates,March 2015,43000000,1300000,https://ted.com/talks/bill_gates_the_next_outb...,3,2015
3017,What makes a good life? Lessons from the longe...,Robert Waldinger,November 2015,41000000,1200000,https://ted.com/talks/robert_waldinger_what_ma...,11,2015
4990,10 things you didn't know about orgasm,Mary Roach,February 2009,37000000,1100000,https://ted.com/talks/mary_roach_10_things_you...,2,2009

In [32]:
# quais os 5 autores com mais vídeos no TED Talks
more_videos = data['author'].value_counts()
more_videos.head(5)

Alex Gendler        45
Iseult Gillespie    33
Matt Walker         18
Alex Rosenthal      15
Elizabeth Cox       13
Name: author, dtype: int64

In [35]:
# quantas palestras ocorreram em cada ano
total_year = data['year'].value_counts()
total_year

2019    544
2020    501
2017    495
2018    473
2016    399
2021    390
2013    388
2015    377
2014    357
2012    302
2011    271
2010    267
2009    233
2007    113
2008     84
2005     65
2006     49
2003     34
2004     33
2002     26
2022     20
1998      6
2001      5
1970      2
1990      1
1994      1
1991      1
1983      1
1972      1
1984      1
Name: year, dtype: int64

In [61]:
# quantas palestras ocorreram em cada mês do ano de 2020
data_2022 = data[data['year'] == 2022]

ted_by_month = data.groupby(data_2022['month'])['month'].count()
ted_by_month

month
1.0    12
2.0     8
Name: month, dtype: int64

In [ ]:
# quantas palestras relacionadas à tag 'education' existem no dataset
data[['education']]